@-moz-document url-prefix("https://corporatesolutions.glasscubes.com") {
/* Buttercubes 3 - Simply delicious.
/*
/* What are the goals of this venture?
/* - reduce unecessary clicks
/* - improve visibility
/* - normalise different sections
/* - fix anoying bugs
/*
/* https://github.com/filcuk/buttercubes
*/

/* Globals */
:root {
    --search-box-width: 884px;
    --main-content-width: 884px;
}

/* SECTION NORMALISATION
/*
/* This section attempts to make all sections the same size
*/

/* Task manager
*/

/* Main task wrapper
*/
#content .task-manager-app {
    display: block;
}
#content .task-manager-app .task-list-panel:first-child {
    width: var(--main-content-width) !important;
    float: left;
}

/* Task detail sidebar
/* - resize, fix width
/* - hide task title (alreade seen in main content)
*/
#content .task-manager-app .task-detail-panel {
    margin-left: 900px;
    width: 445px;
    height: 620px !important;
    overflow-y: scroll;
}
#content .task-manager-app .task-detail-panel .task-scoll-area {
    height: 620px !important;
}
#content .task-manager-app .task-detail-panel .t3tdp-taskTitle {
    display: none;
}

/* Task filter sidebar
/* - always visible, fix width
/* - fit underneath task detail
*/
#content .task-manager-app .task-filter-panel {
    display: block !important;
    margin-left: 900px;
    height: 240px !important;
    width: 445px;
}
#content .task-manager-app .task-filter-panel [title=Hide] {
    display: none;
}
#content .task-manager-app .task-filter-panel .t3titleFilterPanel.section {
    margin: 0;
}






/* Remove pin icon from the toolbar */

#nav > h2 + .mainnav-minmax + .tooltip, #nav > .pin-nav {
    display: none;
}

#nav > ul {
    margin: 0;
}


/* Remove workspaces header */

#nav > ul > .work-spaces > div:first-child {
    display: none;
}


/* Remove dashboard banner */

#dashboard-header-wrapper {
    display: none;
}

/* Move nav to the top */
#nav {
    top: 0px
}

/* Make nav narrower */
#nav {
    width: 260px !important;
}

#top {
    left: 260px;
}

#content {
    padding-left: 260px !important;
}


/* Hide top box logo */
#top .top-header-container {
    display: none;
}

/* Global search box improvements */

.global-search-panel.top-header-search-container {
    left: 275px !important;
    width: var(--search-box-width);
}

.search-field-container.inline-block {
    width: var(--search-box-width) !important;
    border-radius: 0 !important;
}

.search-field-menu {
    width: calc(var(--search-box-width) - 2px) !important;
    background: #ffffffed !important; 
}

.search-field > .search-field-container > input.search-input {
    width: calc(var(--search-box-width) - 33px);
}


.global-search-panel .global-search-header-panel .search-form-panel {
    text-align: left !important;
}

.global-search-panel .search-field-menu {
    background: #fff;
}


/* Making workspace-nav horizontal WIP */

nav.workspace-nav {
    width: 100%;
    height: 40px !important;
    display: block;
    font-size: 0px; /* ignore whitespace */
}

div.workspace-nav-fixed {
    height: 100% !important;
    top: 0px;
    position: static;
}

nav.workspace-nav ul.workspace-nav-links {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 12px;
    padding-top: 8px;
}

nav.workspace-nav ul li {
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav.workspace-nav ul.workspace-nav-links li a {
    font-size: 18px;
    padding: 4px 26px 4px 6px;
    /* text-transform: uppercase; */
    color: #666;
}

nav.workspace-nav ul.workspace-nav-links li a:hover {
    color: black;
}

/* attempt to not have links shift on :hover bold
nav.workspace-nav ul.workspace-nav-links li a:after {
    display: block;
    content: attr(value);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
*/

nav.workspace-nav ul.workspace-nav-links .active-cube a {
    color: black;
}

/* Options links: just set it to always visible... */
nav.workspace-nav ul.workspace-nav-links li .workspace-options-links {
    display: inline-block !important;
}

nav.workspace-nav ul.workspace-nav-links li .workspace-options-links:hover {
    color: black;
}

nav.workspace-nav ul.workspace-nav-links li .workspace-options-links .active a {
    color: black;
}

nav.workspace-nav ul.workspace-nav-links .workspace-options-tab {
    display: none;
}


/* Fix: Spacing between main content box and right info boxes */

#content > .contentwrapper {
    width: calc( 100% - 244px ) !important;
}

.selectallcnt.opsother {
    margin-right: 9px !important;
}

/* Fix: Labels not readable on light backgrounds */
.label, .name-label, .ui-menu-item {
    /* Could be used to contrast text but won't work with bg and text in the same element */
    /* mix-blend-mode: normal; */
    
    /* Cast hard glow to improve visibility on light backgrounds */
    /* text-shadow: 1px 1px 0.5px #000, 1px 0px 0.5px #000, 0px 1px 0.5px #000; */
    color: white;
    text-shadow:
         1px  1px 0.3px #0006,
         1px -1px 0.3px #0006,
        -1px  1px 0.3px #0006,
        -1px -1px 0.3px #0006;
    /* -webkit-font-smooth: antialiased; *Not yet supported */
    
    /* Store is well supported, but doesn't work great for small text */
    /* -webkit-text-stroke: 1px black; */
    /* -webkit-text-fill-color: white; */
}


/* END */
}
