@-moz-document domain("corporatesolutions.glasscubes.com") {
/* Buttercubes 4 - Butterlicious.
/*
/* What are the goals of this venture?
/* - reduce unecessary clicks
/* - improve visibility
/* - normalise different sections
/* - fix anoying bugs
/*
/* https://github.com/filcuk/buttercubes
*/

:root {
	/* stolen from Stackoverflow - for testing only */
	/*
	--white: #fff;
	--black: #0c0d0e;
	--orange: #f48024;
	--yellow: #fbf2d4;
	--green: #5eba7d;
	--blue: #0077cc;
	--powder: #e1ecf4;
	--red: #d1383d;
	*/
	--black-025: #fafafb;
	--black-050: #eff0f1;
	--black-075: #e4e6e8;
	--black-100: #d6d9dc;
	--black-150: #c8ccd0;
	--black-200: #bbc0c4;
	--black-300: #9fa6ad;
	--black-350: #9199a1;
	--black-400: #848d95;
	--black-500: #6a737c;
	--black-600: #535a60;
	--black-700: #3c4146;
	--black-750: #2f3337;
	--black-800: #242729;
	--black-900: #0c0d0e;
	/*
	--orange-050: #fff7f2;
	--orange-100: #fee3cf;
	--orange-200: #fcd0ad;
	--orange-300: #f7aa6d;
	--orange-400: #f48024;
	--orange-500: #f2720c;
	--orange-600: #da670b;
	--orange-700: #bd5c00;
	--orange-800: #a35200;
	--orange-900: #874600;
	--blue-050: #f2f9ff;
	--blue-100: #cfeafe;
	--blue-200: #addafc;
	--blue-300: #6cbbf7;
	--blue-400: #379fef;
	--blue-500: #0095ff;
	--blue-600: #0077cc;
	--blue-700: #0064bd;
	--blue-800: #0054a3;
	--blue-900: #004487;
	--powder-050: #f4f8fb;
	--powder-100: #e1ecf4;
	--powder-200: #d1e5f1;
	--powder-300: #b3d3ea;
	--powder-400: #a0c7e4;
	--powder-500: #7aa7c7;
	--powder-600: #5b8db1;
	--powder-700: #39739d;
	--powder-800: #2c5777;
	--powder-900: #1e3c52;
	--green-025: #eef8f1;
	--green-050: #dcf0e2;
	--green-100: #cae8d4;
	--green-200: #a6d9b7;
	--green-300: #82ca9a;
	--green-400: #5eba7d;
	--green-500: #48a868;
	--green-600: #3d8f58;
	--green-700: #2f6f44;
	--green-800: #29603b;
	--green-900: #1e472c;
	--yellow-050: #fdf7e3;
	--yellow-100: #fbf2d4;
	--yellow-200: #f1e5bc;
	--yellow-300: #e6d178;
	--yellow-400: #e9c63f;
	--yellow-500: #ddb624;
	--yellow-600: #cea51b;
	--yellow-700: #b89516;
	--yellow-800: #9f8010;
	--yellow-900: #826a0b;
	--red-050: #fdf3f4;
	--red-100: #f9d3d7;
	--red-200: #f4b4bb;
	--red-300: #e87c87;
	--red-400: #de535e;
	--red-500: #d1383d;
	--red-600: #c02d2e;
	--red-700: #ac2726;
	--red-800: #942121;
	--red-900: #7a1819;
	--gold: #ffcc01;
	--gold-lighter: #fff4d1;
	--gold-darker: #f1b600;
	--silver: #b4b8bc;
	--silver-lighter: #e8e8e8;
	--silver-darker: #9a9c9f;
	--bronze: #caa789;
	--bronze-lighter: #f2e9e1;
	--bronze-darker: #ab825f;
	*/
	
	/* custom vars */
	--page-width: 1200px;
	--top-height: 50px;
	--nav-width: 220px;
	--cnav-height: 36px;
	--content-width: calc(var(--page-width) - var(--nav-width));
	--article-width: calc(var(--content-width) - 38%);
	--detail-width: calc(var(--content-width) - var(--article-width));
	--news-height: 140px;
	--csl-green: #4cb332;
	--gc-gray: #737373;
	--bc-logo: url("https://raw.githubusercontent.com/filcuk/Buttercubes/master/res/buttercubes2_logo.png");
}

/* NOTES
- Do not use GC generated ID's (non-readable), they change on refresh


/*****************************************************************/
#root {
	width: var(--page-width);
	margin: auto;
	display: flex;
}


/*****************************************************************/
#top {
	width: calc(var(--page-width) - var(--nav-width));
	left: var(--nav-width);
	margin: auto;
	height: 50px;
	border-top: 3px solid var(--csl-green) !important;
	display: block;
}

#top > .top-header-container {
	height: inherit;
}

#top > .top-header-container > .top-header-container-left-col {
	width: 50px;
	height: inherit;
	background: none;
}

nav#user {
	height: inherit;
}

/* USER */

nav#user > .gc-logo {
	display: none;
}

nav#user > ul.top-right-links,
nav#user > ul.three-dots {
	padding: 9px 0;
}

nav#user > .quick-add-menu {
	padding: 6px 0;
	margin: 0;
}

/* SEARCH */
nav#user > .global-search-panel.top-header-search-container {
	padding: 7px 0;
	margin: 0;
}

/* LOGO */
#logo {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

#logo img {
	background: var(--bc-logo) no-repeat;
	background-position: left center;
	background-size: contain;
	padding-left: 50px;
	left: 15px;
	/* TODO fix logo size */
}

#logo:after {
	/* TODO add BC4? */
}

/*****************************************************************/
#nav {
	left: auto;
	top: 0;
	width: var(--nav-width) !important;
	border-top: 3px solid var(--csl-green);
}

#nav > h2 {
	display: none;
}

#nav > ul {
	margin-top: 0;
}

/* NAV: Better overflow handling */

#nav > ul .workspaceView-item > a {
	width: 100%;
	padding-right: 0 !important;
}
#nav > ul span.cubeName {
	width: 100%;
}
#nav > ul .workspaceView-item.sub .workspaceView-item {
	padding-right: 11px;
}

#nav > div.wkhvname {
	left: auto;
	padding: 3px 11px 2px;
}

/* Nav bar 'workspace' toolbox
/* - hide nonsense
/* - keep always visible filter
/* - fix wierd height setting
*/
#workspacelink, #nav .nav-add-ws-icon, #nav .search, .ws-filter-container > .man-tooltip {
    display: none !important;
}
#nav > ul > .work-spaces {
    border-top: none !important;
}
.ws-filter-container {
    width: 100% !important;
}
#worksp-filter {
    display: block !important;
    padding: 0px !important;
    height: auto !important;
    margin: 5px 0;
}
#wsp-filter-name {
	top: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background: #666 !important;
    padding: 15px 13px !important;
}
#nav > ul > .sub.work-spaces {
    height: 100% !important;
}

/*****************************************************************/
#content {
	width: var(--content-width);
	left: var(--nav-width);
	padding: 0 !important;
	margin-top: var(--top-height);
}

#content > div:first-child {
	display: none;
}

#content > .container-fluid {
	padding: 0;
}

/* CONTENT NAV */
article#content > nav.workspace-nav {
	background: var(--black-100);
	height: var(--cnav-height) !important;
	width: 100%;
	position: static;
	z-index: 1;
	font-size: 0; /* whitespace fix */
}

#content > nav.workspace-nav > .workspace-nav-fixed {
	height: 100% !important;
}

#content > nav.workspace-nav ul li {
	display: inline-block;
	width: auto;
	margin: 0;
}

#content > nav.workspace-nav .workspace-nav-links {
	padding-left: 15px
}

#content > nav.workspace-nav ul li a {
	margin: 3px 8px 3px 0; 
	padding: 5px 5px;
}

#content > nav.workspace-nav ul li a:before {
	display: none;
}

/* CONTENT NAV OPTIONS */
#content > nav.workspace-nav .workspace-options-tab {
	display: none;
}

#content > nav.workspace-nav .workspace-options-links {
	display: inline-block !important;
}


/* CONTENT: WS NAME */
#content .ws-name-container {
	position: sticky;
	top: var(--top-height);
	background: var(--black-050);
	height: var(--cnav-height);
	z-index: 1;
}

#content .ws-name-container .workspace-nav-ws-name {
	margin: 5px 15px;
}

#content .ws-name-container .workspace-follow-panel {
	margin: 6px 0;
}

#content .ws-name-container .workspace-follow-panel .followerListContainer > a > span:first-child {
	display: none;
}

#content .ws-name-container .workspace-follow-panel .followerListContainer > a:after {
	content: 'Butter up';
}

/* CONTENT: CONTAINER */
#content > .container-fluid > .row.mg-top-15 {
	margin: 0;
}

#content .workspace-nav-content-container {
	margin: 0px 0 0 0px;
}

#content .row >.col-xs-7 {
	width: var(--article-width);
	padding: 0;
}

#content .row >.col-xs-5 {
	width: var(--detail-width);
	padding: 0;
}

/* CONTENT: ANNOUCMENTS */
#content .announcement-container {
	margin: 0 !important;
	border-radius: 0;
	height: var(--news-height);
}

#content .announcement-container .row .col-xs-12,
#content .announcement-container .image-container,
#content .announcement-container .content-container {
	height: var(--news-height);
} 

#content .announcement-container > .row {
	margin: 0 !important;
}

#content .announcement-container > .row > div {
	padding: 0 !important;
}

#content .announcement-container .image-container {
	width: var(--news-height);
	border-radius: 0 !important;
}

#content .announcement-container .content-container {
	width: calc(100% - var(--news-height)) !important;
	/*display: flex;*/
}

#content .announcement-container .content-wrapper {
	width: 100%;
	padding: 8px 12px;
}

#content .announcement-container .content-container .title-container {
	line-height: 1.3;
}

#content .announcement-container .content-container .summary-container {
	margin-top: 8px;
}
/* NOTE!! : NEED TO SET FLEX PROPS ON CONTENT TO NOT STRETCH OUT OF BOUNDS */
}